.header
  margin: 10px 0 20px 0

.content-wrapper
  margin-bottom: 20px

.active-user-timesheet
  text-align: center

.select-month
  margin: 20px 0 50px
  height: 50px

  h3
    float: left
    font-weight: 400

  .duration
    font-weight: 600
    font-size: 22px

.btn-group
  border-radius: .25rem;

/** Bootstrap modal fix */
.modal
  bottom: auto !important

.ui.modal
  height: auto
  position: fixed
  left: 50%
  transform: translateX(-50%)
  .content
    max-height: 70vh
    overflow: auto
  &.active
    display: flex !important
    flex-direction: column
  &.overflow-visible
    overflow: visible
    .content
      overflow: visible
