.sign-in-intro {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
  &::before {
    content: '';
    z-index: 1;
    background: linear-gradient(to right, #c04848, #480048);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: .3;
  }
  .card {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    padding: 25px 35px;
    @media #{$md} {
      width: 450px;
      padding: 25px 60px;
    }
    .bt-main {
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 24px;
    }
  }
  .sign-in-title {
    margin: 0;
    margin-bottom: 25px;
  }
}