$main-bt-bg: $main-color;
$main-bt-bg-active: $main-color-75;
$main-bt-color: white;

$second-bt-bg: white;
$second-bt-bg-active: darken($second-bt-bg, 8);
$second-bt-color: $second-color;

.bt {
  display: inline-block;
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  line-height: 22px;
  font-size: 15px;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }

  padding: 8px 16px;
  .symbol {
    height: auto;
    &:first-child {
      margin-right: 6px;
    }
    &:last-child {
      margin-left: 6px;
    }
  }
  &.bt-big {
    padding: 12px 32px;
    .symbol {
      font-size: 130%;
      &:first-child {
        margin-right: 12px;
      }
      &:last-child {
        margin-left: 12px;
      }
    }
  }
  border: none;
  border-radius: 50px;

  color: white;

  &.bt-main {
    font-weight: 600;
    background-color: $main-bt-bg;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0 100%;
    color: $main-bt-color;
    transform: scale(1);
    border: 0 solid transparent;
    &:active {
      background-color: $main-bt-bg-active;
    }
  }
  &.bt-second {
    font-weight: 500;
    background-color: $second-bt-bg;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0 100%;
    color: $second-bt-color;
    transform: scale(1);
    border: 1px solid #cfcfcf;
    &:hover:not([disabled]) {
      .symbol {
        color: $main-bt-bg-active;
      }
    }
    &:active {
      background-color: $second-bt-bg-active;
    }
  }
  &.bt-danger {
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50px;
      background-color: $error-color;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: .3s ease-in-out;
      transition: .3s $softBounce;
    }
    > * {
      position: relative;
      z-index: 5;
    }
    font-weight: 500;
    background-color: $second-bt-bg;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0 100%;
    color: $error-color;
    transform: scale(1);
    border: 0 solid transparent;
    border: 1px solid $error-color;
    &:hover {
      color: $error-color-complement;
      border-color: transparent;
      &::before {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
    &:active {
      border-color: $error-color-75;
    }
  }
  &:hover:not([disabled]), &:focus:not([disabled]) {
    animation: shadow-pulse 1s infinite;
  }
  &, .symbol {
    transition: .3s ease-in-out;
    transition: .3s $softBounce;
  }
}

.ln {
  display: inline-block;
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;

  padding: 0;
  background-color: transparent;
  border: none;

  &.ln-main {
    color: $main-bt-bg;
    &:hover {
      color: $main-bt-bg-active;
    }
  }
  &.ln-second {
    color: $second-bt-color;
    &:hover {
      color: darken($second-bt-color, 8);
      .symbol {
        color: $main-bt-bg-active;
      }
    }
  }
  .symbol {
    height: auto;
    font-size: 130%;
    transition: .5s ease-in-out;
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
  transition: .3s ease-in-out;
  transition: .3s $softBounce;
}