$main-bt-bg: $main-color;
$main-bt-bg-active: $main-color-75;
$main-bt-color: white;

.bt {
  display: inline-block;
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;

  padding: 8px 16px;
  &.bt-big {
    padding: 12px 32px;
  }
  border: none;
  border-radius: 50px;
  
  color: white;

  &.bt-main {
    background-color: $main-bt-bg;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0 100%;
    color: $main-bt-color;
    transform: scale(1);
    &:hover, &:focus {
      animation: shadow-pulse 1s infinite;
    }
    &:active {
      background-color: $main-bt-bg-active;
    }
  }
  .symbol {
    height: auto;
    font-size: 130%;
    transition: .5s ease-in-out;
    &:first-child {
      margin-right: 12px;
    }
    &:last-child {
      margin-left: 12px;
    }
  }
  transition: .3s ease-in-out;
  transition: .3s $softBounce;
}

.ln {
  display: inline-block;
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;

  &.ln-main {  
    color: $main-bt-bg;
    &:hover {
      color: $main-bt-bg-active;
    }
  }
  .symbol {
    height: auto;
    font-size: 130%;
    transition: .5s ease-in-out;
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
  transition: .3s ease-in-out;
  transition: .3s $softBounce;
}