.dropdown-menu.show {
  max-height: 30vh;
  overflow: auto;

  .circular-label {
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
    height: .75em;
    width: .75em;
    margin-right: 0.5em;
  }
}

.project-filters,
.months-filters {
  min-width: 140px;
}
