.dropdown-menu.show {
  max-height: 30vh;
  overflow: auto;
  display: 'block !important';
  .dropdown-item {
    border: 0 !important;
  }
}
.circular-label {
  background-color: #E8E8E8;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  height: .75em;
  width: .75em;
  margin-right: 0.5em;
}

.project-filters,
.months-filters {
  min-width: 140px;
}

.dropdown-new-option-label {
  margin-left: 30px;
  color: gray;
  font-size: 0.8rem;
}
