@mixin tag-color( $color ) {
  color: $color;
  &:hover, &.selected {
    background-color: $color;
  }
}

.tags {
  display: inline-block;
  outline: none;
  font-size: 11px;
  border: 0;
  padding: 5px 9px;
  margin-right: 10px;
  border-radius: 15px;
  &.bolded {
    font-weight: 700;
  }
}
  