defaults: &defaults
  redis_url: redis://localhost:6379/1
  redis_namespace: example
  mailer:
    :host: 'example.com'
    :from: 'noreply@example.com'
  secret_key_base: 9837116bbd4a0bd75c4038ec3dd482bdd8cd9adffa48d01053bfc8334fd6c8f506f407e3f03f16a86e49d075506af1e808d3237c2687ca18e97588a48f895168
  favicon:
  ldap:
    :enabled: false
    :base: 'ou=example,dc=example,dc=com'
    :host: 127.0.0.1
    :port: 389
  ses_address: xxxx
  ses_username: xxxx
  ses_password: xxxx
  raven_url:

development:
  <<: *defaults

test:
  <<: *defaults
