@import "bootstrap";

@import 'variables';
@import 'colors';

@import 'shared/*';

@import 'application/body';
@import 'application/horizontal-arrows';
@import 'application/date-range-filter';

@import 'application/new-entry';
@import 'application/project-card';
@import 'application/project-table';
@import 'application/time-entries';

@import 'application/edit-report-form';
@import 'application/list-of-reports';
@import 'application/edit-accounting-period';
@import 'application/accounting-periods-list';

@import 'application/vacation-entry';
@import 'application/staff';
@import 'application/remote-work';

@import 'pages/reports';
@import 'pages/sign_in';

@import 'timesheet/*';
@import 'timesheet/blocks/*';
@import 'timer';
@import 'react-datepicker/dist/react-datepicker';
@import '../../../node_modules/antd/dist/antd';

.clearfix {
  clear: both
}

.filters-report-efficiency {
  display: flex;
  justify-content: center;
}

div.react-datepicker__input-container {
  width: 100%;
}

.circle {
  width: 18px;
  height: 18px;
  display: block;
  &.active, &.last-used {
    background-color: #5DFF51;
    color: #5DFF51;
  }
  &.inactive, &.not-last-used {
    background-color: #FF4F48;
  }
  &.last-used, &.not-last-used {
    margin: auto;
  }
}

.copy-action {
  cursor: pointer;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.timesheet .row.summary:hover .actions *, .timesheet .item:hover .actions * {
  visibility: visible !important;
}

.timesheet .col-sd-12.item {
  overflow: hidden;
}

.timesheet .row {
  line-height: 40px;
}

.timesheet .summary {
  border-bottom: 1px solid #ddd;
}

.timesheet .created-by-admin {
  width: 10px;
  height: 29px;
  display: block;
  margin-top: 7px;
  float: right;
}

.history .changed {
  color: green;
}

.history-modal .modal-dialog { width: 70%; }

.vert-offset-bottom {
  margin-bottom: 20px;
}

.panel {
  width: 100%;
}
.panel-heading {
  .badge {
    float: right;
  }
}
.list-group-item {
  display: flex;
  align-items: flex-end;
}
.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: start;
  &::before, &::after {
    display: none;
  }
  & > * {
    float: none;
  }
}
.sticky-record {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

ol.projects {
    list-style-type: none;

    margin-top: 20px;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol.projects > li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}

ol.projects > li:before {
  position: absolute;
  top: 0;
  left: -1.5em;
  width: 0.8em;

  font-size: 2em;
  line-height: 1;
  text-align: right;
  color: #464646;
  font-size: 3em;
  font-weight: bold;

  content: counter(li-counter);
  counter-increment: li-counter;
}

ol.projects .score {
  text-align: center;
  font-size: 2em;
}

ol.projects .dl-horizontal dt {
  font-weight: normal;
}

ol.projects .dl-horizontal dd {
  width: 100%
}

ol.projects .dl-horizontal {
  font-size: 0.9em;
}

.disabled-button-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

.edit-vacation-period {
  margin: auto;
  float: none;
}

.badge.project-badge {
  display: inline;
  margin-right: 5px;
}

#milestone-estimates {
  span.positive {
    color: green;
    margin-left: 2px;
  }
  span.negative {
    color: red;
    margin-left: 2px;
  }
}

table.resource-table th, table.scheduler-table th, table.resource-table td, table.scheduler-bg-table td, table.scheduler-bg-table tr, table.scheduler-table td {
  border: none;
}

table {
  .resource-view {
    border: none;
    >:first-child {
      border: none !important;
    }
  }
  .resource-table {
    tr, td, th {
      border: none;
    }
    .resource-tooltip {
      cursor: auto;
      .tooltip-arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        left: 17px;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        z-index: 999;
        background-color: white;
      }
      .tooltip-box {
        border: 1px solid lightgray;
        position: absolute;
        top: 5px;
        background-color: white;
        width: 200px;
        height: 35px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px lightgray;
        .tooltip-content {
          width: max-content;
          margin: 6px auto;
          cursor: pointer;
          padding: 0 10px;
          border-radius: 4px;
          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
  .scheduler-view {
    border: none;
    border-left: 1px solid #828282;
    >:first-child {
      border: none !important;
      .scheduler-bg-table tr {
        border: none;
      }
    }
  }
}

.scheduler {
  .header2-text-label {
    vertical-align: middle;
  }
  .friday {
    border-right: 1px dashed #E0E0E0;
  }
  .last-day {
    border-right: 1px solid #828282;
  }
  .timeline-event {
    z-index: 1;
    &.vacation {
      top: -7px !important;
      height: calc(100% - 3px);
      z-index: 0;
    }
  }
  .event-item {
    margin-top: 8px;
    text-align: center;
    padding-right: 0 !important;
    &.vacation {
      position: relative;
      span {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }
  .resource-table a, .scheduler-header {
    color: #000000;
  }
  .scheduler-bg-table th {
    color: #000000;
  }
}

.scheduler-header {
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  .chevron-left {
    float: left;
  }
  .chevron-right {
    float: right;
  }
  .chevron-left i, .chevron-right i {
    cursor: pointer;
  }
}


.event-info {
  .project {
    display: inline-block;
    border: 3px solid;
    padding: 5px 9px;
    margin-top: 5px;
    border-radius: 20px;
    color: white;
  }
  .date-range {
    > span {
      cursor: pointer;
    }
    input {
      width: 120px;
      text-align: center;
    }
  }
}
.waiting {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  background-image: image_url('resized.gif');
}

.faded {
  opacity: .2;
}
.footer {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: flex-start;
  padding: 60px 0 10px 0;
  border-top: 1px solid;
  width: 100%;
  .menu.transition.visible {
    transform: translateY(-15px);
  }
  .footer-legend {
    display: flex;
    flex-wrap: nowrap;
  }
  .projects-legend-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    padding: 15px;
    border: 1px solid;
    background-color: rgb(248, 248, 248);
    border-right: none;
    border-radius: 4px 0 0 4px;
    .project-legend {
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }
  .all-button-container {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid;
    background-color: rgb(248, 248, 248);
    border-left: none;
    border-radius: 0 4px 4px 0;
    .all-button {
      margin: auto;
      background-color: $main-color;
      color: white;
      border: 1px solid #b34f27;
    }
  }
  .all-button, .project-legend {
    cursor: pointer;
    border-radius: 4px;
    height: 22px;
    width: max-content;
    padding: 0 20px;
  }
  .ui.dropdown {
    cursor: default;
  }
  .separation-line {
    border-top: 1px solid;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .selected-user {
    padding-left: 8px;
    &:hover {
      background-color: lightgray;
    }
    i {
      margin-top: 4px;
    }
  }
  .dropdown {
    max-width: fit-content;
  }
  .user-filter-container {
    flex-shrink: 0;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    margin-right: 10px;
    .vertical-separation-line {
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: black;
      right: 4%;
      top: -7px;
    }
  }
  .user-filter {
    display: flex;
    .reset-button-container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1px;
      cursor: pointer;
      .reset-button {
        border: 1px solid #C6C6C6;
        border-radius: 4px;
        padding: 5px 10px 5px 10px;
      }
    }
  }
}

.popover-event-title, #modal .centered-modal {
  .circular.empty.label.ui {
    margin-right: 10px;
  }
}

.event-buttons {
  display: flex;
  .event-delete {
    margin-right: 5px;
  }
  .event-delete, .event-edit {
    cursor: pointer;
  }
}

.autocomplete-item {
  height: 40px;
}

button:disabled {
  cursor: not-allowed;
}

input[name="search-input"] {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  padding-left: 10px;
  &::placeholder {
    color: white;
  }
}

.milestone-summary {
  .selected-border {
    border: 1px solid #17a2b8;
    border-radius: 0.25rem;
  }
  .progress-by-department{
    .selected-border {
      width: 105%;
      top: -1px;
    }
    .milestone-progress {
      margin-top: 2px;
    }
  }
}

.fit-content {
  width: fit-content;
}

.pointer-cursor {
  cursor: pointer;
}

.ui.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.ws-bs {
  white-space: break-spaces;
}
