@import "bootstrap-sprockets";
@import "bootstrap";
@import "eonasdan-bootstrap-datetimepicker";
@import "jquery.tokenize";
@import "semantic-ui";

@import 'variables';
@import 'colors';

@import 'shared/*';

@import 'application/body';
@import 'application/horizontal-arrows';
@import 'application/date-range-filter';

@import 'application/new-entry';
@import 'application/project-card';
@import 'application/time-entries';

@import 'application/new-project-report';
@import 'application/edit-report-form';
@import 'application/list-of-reports';
@import 'application/edit-accounting-period';
@import 'application/accounting-periods-list';

@import 'application/vacation-entry';
@import 'application/staff';

@import 'pages/projects';
@import 'pages/reports';
@import 'pages/sign_in';

@import 'timesheet/*';
@import 'timesheet/blocks/*';
@import 'timer';
@import 'react-datepicker/dist/react-datepicker';


.bootbox.ui.modal.fade.bootbox-confirm {
  opacity: 1;
}

.clearfix {
  clear: both
}

div.react-datepicker__input-container {
  width: 100%;
}

.circle {
  width: 18px;
  height: 18px;
  display: block;
  &.active {
    background-color: #5DFF51;
    color: #5DFF51;
  }
  &.inactive {
    background-color: #FF4F48;
  }
}

.copy-action {
  cursor: pointer;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

div.Tokenize ul.TokensContainer {
  min-height: 30px;
  min-width: 800px;
  height: auto;
}

.timesheet .row.summary:hover .actions *, .timesheet .item:hover .actions * {
  visibility: visible !important;
}

.timesheet .col-sd-12.item {
  overflow: hidden;
}

.timesheet .row {
  line-height: 40px;
}

.timesheet .summary {
  border-bottom: 1px solid #ddd;
}

.timesheet .created-by-admin {
  width: 10px;
  height: 29px;
  display: block;
  margin-top: 7px;
  float: right;
}

.history .changed {
  color: green;
}

.history-modal .modal-dialog { width: 70%; }

.vert-offset-bottom {
  margin-bottom: 20px;
}

.panel-heading {
  .badge {
    float: right;
  }
}
.list-group-item {
  &.record {
    padding: 5px 15px;
  }
}
.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: start;
  &::before, &::after {
    display: none;
  }
  & > * {
    float: none;
  }
}
.sticky-record {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

ol.projects {
    list-style-type: none;

    margin-top: 20px;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol.projects > li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}

ol.projects > li:before {
  position: absolute;
  top: 0;
  left: -1.5em;
  width: 0.8em;

  font-size: 2em;
  line-height: 1;
  text-align: right;
  color: #464646;
  font-size: 3em;
  font-weight: bold;

  content: counter(li-counter);
  counter-increment: li-counter;
}

ol.projects .score {
  text-align: center;
  font-size: 2em;
}

ol.projects .dl-horizontal dt {
  font-weight: normal;
}

ol.projects .dl-horizontal dd {
  width: 100%
}

ol.projects .dl-horizontal {
  font-size: 0.9em;
}

.disabled-button-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

.edit-vacation-period {
  margin: auto;
  float: none;
}
