.incoming-birthdays .incoming-birthdays-list {
  margin: 5px 0 5px 10px;
  font-size: 16px;
  span {
    font-weight: 500;
  }
}

.error-tooltip.birthday-error {
  position: initial;
  max-width: max-content;
}
