.list-of-reports {
  .report-status {
    text-align: center;
    .symbol {
      display: block;
      font-size: 22px;
    }
  }
  .table {
    th, td {
      vertical-align: middle;
    }
  }
  .reports-nav {
    display: flex;
    justify-content: space-between;
  }
}