.new-entry {
  position: sticky;
  top: 5px;
  z-index: 25;
  .card {
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 35px;
    .form-actions {
      position: absolute;
      bottom: 0;
      right: 25px;
      transform: translateY(50%);
      .bt:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
  .card > .row {
    display: flex;
    flex-flow: row wrap;
    &::before, &::after {
      display: none;
    }
    align-items: center;
    > div {
      float: none;
      @media #{$max-sm} {
        width: 100%;
      }
      margin-bottom: 12px;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  .easter {
    display: block;
    width: auto;
    max-height: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
  .form-control {
    border: none;
    box-shadow: none;
    &::placeholder {
      color: $placeholder-color;
    }
  }
  .description {
    textarea {
      min-height: 50px;
      font-size: 24px;
      resize: vertical;
    }
  }
  .project {
    .active .label {
      display: none;
    }
  }
  .date, .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .date {
    padding: 0;
    font-size: 14px;
    .form-control {
      text-align: center;
      @media #{$sm} {
        font-size: 20px;
      }
      &::placeholder {
        font-size: 12px;
      }
    }
  }
  .time-divider {
    font-size: 18px;
    color: $text-gray;
  }
  .duration {
    @media #{$sm} {
      font-size: 28px;
    }
  }
}