.staff-container {
  .filters {
    > .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-bottom: 30px;
      border-bottom: 1px solid $vacations-dark-gray;
      button:not(.react-datepicker__navigation), select, input {
        color: $vacations-text-black;
        border: 1px solid $vacations-button-border;
      }
      .general-button {
        width: 100px;
        button {
          background-color: $white;
        }
      }
      .generator-buttons {
        display: flex;
        .csv-export-button, .yearly-report {
          margin-left: 10px;
          button {
            border: none;
            color: $white;
          }
        }
      }
      input, select {
        text-align: center;
      }
      input {
        max-width: 150px;
      }
      .user-filter, .start-date-filter, .general-button {
        margin-right: 20px;
      }
      .end-date-filter {
        margin-right: 80px;
      }
      button.filter-button {
        height: 100%;
        width: 100%;
        min-height: 34px;
      }
    }
  }
  .vacations-container {
    > .row {
      display: flex;
      @media (max-width: 650px) {
        display: grid;
        .col-md-6:last-child {
          margin: auto;
        }
      }
      .col-md-6 {
        width: 45%;
      }
      .col-md-6:last-child{
        margin-left: auto;
      }
    }

    .vacations-title {
      margin: 35px 0 35px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
    .mid-title {
      color: $vacations-text-black;
      font-size: 18px;
      font-weight: 500;
    }
    .left-title, .right-title {
      position: absolute;
      color: $vacations-text-gray;
      cursor: pointer;
      @media (max-width: 700px) {
        position: initial;
      }
    }
    .left-title {
      left: 0;
    }
    .right-title {
      right: 0;
    }
    
    .unconfirmed-vacations, .accepted-or-declined-vacations {
      .unconfirmed-vacation, .accepted-or-declined-vacation {
        background-color: $white;
        border: 1px solid $vacations-gray;
        border-radius: 8px;
        padding: 25px;
        margin-bottom: 35px;
        &.folded {
          padding: 10px;
          margin-bottom: 10px;
        }
        &.accepted {
          border-left: 5px solid $vacations-accepted-color;
        }
        &.declined {
          border-left: 5px solid $vacations-declined-color;
        }
        .simple-vacation-type {
          margin: auto;
        }
        .vacation-errors {
          text-align: center;
          margin: auto;
          margin-bottom: 10px;
          position: initial;
        }
        .vacation-header {
          display: flex;
          flex-flow: row wrap;
          margin-bottom: 10px;
          font-weight: 500;
          color: $vacations-text-black;
          a {
            margin-left: 5px;
          }
          .vacation-time-period {
            margin-left: auto;
            &.folded {
              margin-left: 0;
            }
          }
          &.folded {
            margin-bottom: 0;
          }
        }
        .vacation-description {
          margin-bottom: 35px;
          word-wrap: anywhere;
          word-break: break-word;
        }
        .vacation-footer {
          display: flex;
          flex-flow: row wrap;
          .simple-vacation-type {
            min-width: 150px;
            height: 35px;
            line-height: 35px;
            background-color: $white;
            border: 1px solid $vacations-button-border;
            border-radius: 5px;
            text-align: center;
          }
          .vacation-sub-type select {
            max-width: 150px;
            height: 35px;
          }
          .vacation-buttons {
            margin-left: auto;
            button.decline {
              background-color: $white;
              border: 1px solid $vacations-declined-color;
              margin-right: 20px;
              color: $vacations-declined-color;
            }
            button.undone {
              background-color: #4183C4;
            }
            button.delete {
              background-color: $vacations-declined-color;
            }
          }
        }
        .interactions-list  {
          .approver {
            color: $vacations-accepted-color;
          }
          .decliner {
            color: $vacations-declined-color;
          }
        }
        .available_vacation_days {
          color: $vacations-text-black;
        }
        .interactor-name, .vacation-days {
          font-weight: 500;
        }
      }
    }
  }
}

