@mixin tag-color( $color ) {
  color: $color;
  &:hover, &.selected {
    background-color: $color;
  }
}

.tags {
  display: inline-block;
  outline: none;
  font-size: 11px;
  border: 0;
  padding: 5px 9px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: transparent;
  border: 3px solid currentColor;
  &.bolded {
    font-weight: 700;
  }
  &.ui, &.im {
    @include tag-color( #AA913A );
  }
  &.cc {
    @include tag-color( #75105F );
  }
  &.res {
    @include tag-color( #589930 );
  }
  &.dev {
    @include tag-color( #89CFF0 );
  }
  &.various {
    @include tag-color( black );
  }
  &:hover, &.selected {
    color: white;
    border-color: transparent;
  }
}
  