.time-entries-list {

}
.time-entry {
  
}

.time-entries-list > .entry {
  display: flex;
  flex-flow: row wrap;
  @media #{$md} {
    flex-flow: row nowrap;
  }
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  font-size: 14px;

  border-bottom: 1px solid $border-color;
  border-right: 3px solid transparent;

  box-shadow: 0 0 0 0 rgba(black, 0);
  position: relative;

  &.new {
    animation-name: slide;
    animation-duration: 0.6s;
  }
  &.updated {
    border-right-color: #FF9A9A
  }
  &.hotline-bling {
    animation-name: blink;
    animation-duration: 2s;
  }

  .error-info-container {
    font-size: 22px;
    margin: 0 15px;
    color: $text-black;
  }
  
  .task-content {
    flex-basis: 100%;
  }
  
  .description-container {
    cursor: pointer;
  }

  .tag-container {
    padding: 0 8px;
    .tags {
      margin: 4px 0;
      display: block;
    }
  }

}

@keyframes slide {
  0% {
    margin-left: 100%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes blink {
  0% {
    border-bottom: 1px solid rgba(65, 232, 88, 0.1);
  }
  25% {
    border-bottom: 4px solid rgba(65, 232, 88, 1);
  }
  50% {
    border-bottom: 4px solid rgba(65, 232, 88, 0.1);
  }
  75% {
    border-bottom: 4px solid rgba(65, 232, 88, 1);
  }
  100% {
    border-bottom: 1px solid rgba(65, 232, 88, 0.0);
  }
}

.time-entry-main {
  border: 1px solid transparent;
  transition: 0;
  .form-control {
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
  }
  input {
    text-align: center;
  }
  .task-content {
    display: flex;
    flex-flow: row wrap;
    @media #{$md} {
      flex-flow: row nowrap;
    }
    align-items: center;
    justify-content: flex-start;
    .description-container { 
      padding-right: 15px;
    }
    .description-text {
      p {
        font-size: 13px;
        line-height: 16px;
      }
    }
    .project-container,
    .tag-container {
      flex-basis: auto;
      flex-shrink: 0;
    }
    textarea {
      min-height: 30px;
      height: 100%;
      resize: vertical;
      overflow: hidden;
      text-align: left;
      font-size: 16px;
      color: $text-black;
    }
  }
  .edit-time {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    .start-input,
    .end-input {
      width: 80px;
      height: 100%;
      font-size: 20px;
    }
    .edit-date {
      width: 100px;
      input {
        width: 100%;
        padding: 10px 0;
        border: none;
        font-size: 15px;
      }
    }
  }
  &.edit-mode {
    margin-top: 5px;
    border: 1px solid $border-color;
    .description-container {
      flex-basis: 100%;
    }
  }
}